.Footer-Section{
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(54, 54, 54);

}
.Footer-Left{
    text-align: left;
    width:fit-content;
    height: fit-content;

}
.Footer-Right{
    width: fit-content;
    height: fit-content;

}

.footer{
     justify-content: space-between;
}
.copyright{
     justify-content: space-between;
}